{{- $source := $.Get "src" -}}
{{- if not $source -}}
  {{- errorf "Video 'src' must be supplied" -}}
{{- end -}}
{{- $video := or ($.Page.Resources.GetMatch $source) (resources.GetMatch $source) -}}
{{- $type := $.Get "type" -}}
{{- if $video -}}
  {{- $type = $type | default $video.MediaType.Type -}}
{{- end -}}
{{- $type = $type | default "video/mp4" -}}
{{- $width := $.Get "width" | default "100%" -}}
{{- $caption := $.Get "caption" -}}
{{- $defaultLabel := cond (eq $.Page.Language.Lang "ja") "研究紹介動画" "Research presentation video" -}}
{{- $label := $.Get "label" | default $caption | default $defaultLabel -}}
{{- $track := $.Get "track" -}}
{{- $tracklang := $.Get "tracklang" | default $.Page.Language.Lang -}}
{{- $tracklabel := $.Get "tracklabel" | default $tracklang -}}
{{- $preload := $.Get "preload" | default "metadata" -}}
{{- $controls := $.Get "controls" | default true -}}
{{- $muted := $.Get "muted" -}}
{{- $loop := $.Get "loop" -}}
{{- $autoplay := $.Get "autoplay" -}}
{{- $poster := $.Get "poster" -}}

{{- if $caption -}}
<figure>
{{- end -}}
  <video preload="{{ $preload }}"
    width="{{ $width }}"
    aria-label="{{ $label }}"
    {{- if $controls }} controls{{ end -}}
    {{- if $muted }} muted{{ end -}}
    {{- if $loop }} loop{{ end -}}
    {{- if $autoplay }} autoplay{{ end -}}
    {{- with $poster }} poster="{{ . }}"{{ end -}}>
    <source
      src="{{ with $video }}{{ .RelPermalink }}{{ else }}{{ $source }}{{ end }}"
      type="{{ $type }}"
    >
    {{- with $track }}
    <track kind="captions" src="{{ . }}" srclang="{{ $tracklang }}" label="{{ $tracklabel }}">
    {{- end }}
    {{ cond (eq $.Page.Language.Lang "ja") "お使いのブラウザは動画の再生に対応していません。" "Your browser does not support the video element." }}
  </video>
{{- with $caption -}}
  <figcaption>{{ . }}</figcaption>
</figure>
{{- end -}}
